

*{
  text-align: center;
  font-family: Lato;
  margin-bottom: 0px;
}
.M {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
}

.O {
  font-size: 22px;
  margin-top: 10px;
}

.T:link{
  color: black;
}
