.a{
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
}

.p, .d{
  background-color: rgb(224, 221, 221);
  border: none;
  display: block;
  height: 35px;
  width: 300px;
  padding-left: 10px;
  margin-bottom: 9px;
  
}

.p{
  margin-top: 25px;
}

.n{
  background-color: black;
  color: white;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 10px;
}

.f{
  height: 35px;
  width: 140px;
  border: none;
}